variable "project_prefix" {
  type        = string
  description = "prefix string put in front of string"
  default     = "f5xc"
}

variable "project_suffix" {
  type        = string
  description = "prefix string put at the end of string"
  default     = "02"
}

variable "f5xc_api_p12_file" {
  type = string
}

variable "f5xc_api_url" {
  type = string
}

variable "f5xc_tenant" {
  type = string
}

module "azure_multi_node_single_nic_new_vent" {
  source                       = "./modules/f5xc/site/azure"
  f5xc_api_p12_file            = var.f5xc_api_p12_file
  f5xc_api_url                 = var.f5xc_api_url
  f5xc_namespace               = "system"
  f5xc_tenant                  = var.f5xc_tenant
  f5xc_azure_cred              = "az-creds"
  f5xc_azure_region            = "useast"
  f5xc_azure_site_name         = format("%s-vnet-%s", var.project_prefix, var.project_suffix)
  f5xc_azure_vnet_primary_ipv4 = "192.168.168.0/21"
  f5xc_azure_ce_gw_type        = "single_nic"
  f5xc_azure_az_nodes          = {
    node0 : { f5xc_azure_az = "1", f5xc_azure_vnet_local_subnet = "192.168.168.0/24" },
    node1 : { f5xc_azure_az = "1", f5xc_azure_vnet_local_subnet = "192.168.170.0/24" },
    node2 : { f5xc_azure_az = "1", f5xc_azure_vnet_local_subnet = "192.168.172.0/24" }
  }
  f5xc_azure_default_blocked_services = false
  f5xc_azure_default_ce_sw_version    = true
  f5xc_azure_default_ce_os_version    = true
  f5xc_azure_no_worker_nodes          = false
  f5xc_azure_total_worker_nodes       = 2
  public_ssh_key                      = "ssh-rsa xyz"
}

module "azure_multi_node_multi_nic_new_vnet" {
  source                       = "./modules/f5xc/site/azure"
  f5xc_api_p12_file            = var.f5xc_api_p12_file
  f5xc_api_url                 = var.f5xc_api_url
  f5xc_namespace               = "system"
  f5xc_tenant                  = var.f5xc_tenant
  f5xc_azure_cred              = "az-creds"
  f5xc_azure_region            = "useast"
  f5xc_azure_site_name         = format("%s-vnet-%s", var.project_prefix, var.project_suffix)
  f5xc_azure_vnet_primary_ipv4 = "100.64.16.0/20"
  f5xc_azure_ce_gw_type        = "multi_nic"
  f5xc_azure_az_nodes          = {
    node0 : {
      f5xc_azure_az                  = "1", f5xc_azure_vnet_inside_subnet = "100.64.16.0/24",
      f5xc_azure_vnet_outside_subnet = "100.64.17.0/24"
    }
  }
  f5xc_azure_default_blocked_services = false
  f5xc_azure_default_ce_sw_version    = true
  f5xc_azure_default_ce_os_version    = true
  f5xc_azure_no_worker_nodes          = true
  f5xc_azure_total_worker_nodes       = 0
  public_ssh_key                      = "ssh-rsa xyz"
}

module "azure_multi_node_single_nic_existing_vnet" {
  source                       = "./modules/f5xc/site/azure"
  f5xc_api_p12_file            = var.f5xc_api_p12_file
  f5xc_api_url                 = var.f5xc_api_url
  f5xc_namespace               = "system"
  f5xc_tenant                  = var.f5xc_tenant
  f5xc_azure_cred              = "az-creds"
  f5xc_azure_region            = "useast"
  f5xc_azure_site_name         = format("%s-vnet-%s", var.project_prefix, var.project_suffix)
  f5xc_azure_vnet_primary_ipv4 = "192.168.168.0/21"
  f5xc_azure_ce_gw_type        = "single_nic"
  f5xc_azure_az_nodes          = {
    node0 : { f5xc_azure_az = "1", f5xc_azure_local_subnet_name = "node0_subnetA" },
    node1 : { f5xc_azure_az = "1", f5xc_azure_local_subnet_name = "node1_subnetB" },
    node2 : { f5xc_azure_az = "1", f5xc_azure_local_subnet_name = "node2_subnetC" }
  }
  f5xc_azure_vnet_resource_group      = "vnet_resource_group_A"
  f5xc_azure_default_blocked_services = false
  f5xc_azure_default_ce_sw_version    = true
  f5xc_azure_default_ce_os_version    = true
  f5xc_azure_no_worker_nodes          = true
  f5xc_azure_total_worker_nodes       = 0
  public_ssh_key                      = "ssh-rsa xyz"
}

module "azure_multi_node_multi_nic_existing_vnet" {
  source                       = "./modules/f5xc/site/azure"
  f5xc_api_p12_file            = var.f5xc_api_p12_file
  f5xc_api_url                 = var.f5xc_api_url
  f5xc_namespace               = "system"
  f5xc_tenant                  = var.f5xc_tenant
  f5xc_azure_cred              = "az-creds"
  f5xc_azure_region            = "useast"
  f5xc_azure_site_name         = format("%s-vnet-%s", var.project_prefix, var.project_suffix)
  f5xc_azure_vnet_primary_ipv4 = "100.64.16.0/20"
  f5xc_azure_ce_gw_type        = "multi_nic"
  f5xc_azure_az_nodes          = {
    node0 : {
      f5xc_azure_az                       = "1", f5xc_azure_vnet_inside_subnet_name = "node_0_inside_subnet",
      f5xc_azure_vnet_outside_subnet_name = "node_0_outside_subnet"
    },
    node1 : {
      f5xc_azure_az                       = "1", f5xc_azure_vnet_inside_subnet_name = "node_1_inside_subnet",
      f5xc_azure_vnet_outside_subnet_name = "node_1_outside_subnet"
    },
    node2 : {
      f5xc_azure_az                       = "1", f5xc_azure_vnet_inside_subnet_name = "node_2_inside_subnet",
      f5xc_azure_vnet_outside_subnet_name = "node_2_outside_subnet"
    }
  }
  f5xc_azure_vnet_resource_group      = "vnet_resource_group_A"
  f5xc_azure_default_blocked_services = false
  f5xc_azure_default_ce_sw_version    = true
  f5xc_azure_default_ce_os_version    = true
  f5xc_azure_no_worker_nodes          = true
  f5xc_azure_total_worker_nodes       = 2
  public_ssh_key                      = "ssh-rsa xyz"
}